body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

.field{
    margin: 2%;
}