*{
    font-family: "Josefin Sans", sans-serif;
    margin: 0px;
}
.content{
    height: 70vh;
    padding: 50px;
}
.content div{
    display: inline-block;
}

.login{
    position: relative;
    background-color: rgb(239, 239, 239);
    text-align: center;
    width: 50%;
}

.login h1{
    margin: 40px 0px 5px 0px ;
}

.input{
    width: 65%;
    margin: 8px 20px;
    padding: 8px 20px;
    background-color: rgba(218, 215, 215, 0.64);
    border: none;
}

.remember_row *{
    width:fit-content;
    display: inline-block;
    margin-bottom: 10px;
}
#remember{
    margin-right: 50px;
}

.login button{
    width: 75%;
    margin: 4px 20px;
    padding: 8px 20px;
    background: linear-gradient(270deg, #de58ff 0%, #891ead 100%);
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    border: none;
    margin-bottom: 25px;
}

.or{
    margin-bottom: 25px;
}

.icons *{
    margin: 0px 5px 100px 0px;
}

.register{
    width: 50%;
    position: absolute;
    height: 435px;
    background: linear-gradient(270deg, #de58ff 0%, #891ead 100%);
    text-align: center;  
}

.reg_row{
    padding: 20% 30px;
}