#grid{
    display: grid;
    border: 1px solid black;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    gap: 15px 15px;
    grid-template-areas: 
    "x y y"
    "x i i"
    "x i i";
}

.x{
    background-color: aqua;

}

.y{
    background-color: rgb(132, 255, 0);
}

.i{
    background-color: rgb(255, 0, 43);
}